@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-family: "IBM Plex Sans", sans-serif;

  --black: #000000;
  --grey-1: #0b0b0b;
  --grey-2: #131313;
  --grey-3: #1a1a1a;
  --grey-4: #202020;
  --grey-5: #262626;
  --grey-6: #2c2c2c;
  --grey-7: #333333;
  --grey-8: #393939;
  --grey-9: #404040;

  --space: 0.25rem;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#panel {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 2);

  input[type="radio"] {
    display: none;
  }

  hr {
    width: 80%;
    margin: 0 auto;
    background-color: var(--grey-2);
  }
}

& label:has(input[type="radio"]:checked) {
  background-color: var(--grey-9);
}

/* Button styles */
.btn {
  color: white;
  background-color: var(--grey-2);
  font-weight: bold;
  border: none;
  border-radius: 0.1rem;
  padding: calc(var(--space) * 2) calc(var(--space) * 3);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.btn.square {
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
}

.btn.icon {
  border: none;
  background-color: unset;
  padding: 0 calc(var(--space) * 1);
}

/* Shared modal style */
dialog {
  h1 {
    font-size: 1.1rem;
  }

  background-color: var(--grey-4);
  color: white;
  border: none;
  padding: 1rem;

  form {
    margin-top: calc(var(--space) * 3);
    button {
      margin-left: auto;
    }
  }
}

.settings {
  display: grid;
  align-items: center;

  grid-template-columns: auto 1fr;
  gap: calc(var(--space) * 3);
  label {
    display: flex;
    flex-direction: row;
    gap: calc(var(--space) * 3);
  }
}

/* A few fake Tailwind classes */
.flex-row {
  display: flex;
  flex-direction: row;
  gap: calc(var(--space) * 2);
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 2);
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-0 {
  margin: 0;
}

.mt-3 {
  margin-top: calc(var(--space) * 3);
}
